extends ../layout

block content
  h1= title
  p Este es un ejemplo de descripción del autor de la aplicación.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero libero, maximus sit amet faucibus ac, rhoncus eget elit. Nulla maximus felis non condimentum eleifend. Nullam tristique massa vel tempus ullamcorper. Curabitur pellentesque maximus libero vel viverra. Aenean condimentum est in dolor euismod rutrum. Duis tristique, felis quis placerat dignissim, ligula enim tincidunt nibh, et finibus dui ante ut mauris. Mauris finibus nisl at velit finibus, id tempus dui facilisis.
  p Ut et mi risus. Integer nibh arcu, blandit vel lacus vitae, tempor suscipit enim. Nulla facilisi. Phasellus consequat fermentum erat, a imperdiet magna rutrum ut. Proin in congue augue. Ut sodales, est convallis hendrerit fermentum, risus massa feugiat risus, a aliquet arcu neque ut enim. Morbi ac mi ultrices, cursus mi pharetra, varius nisi. Nulla facilisi.
  p Pellentesque eu ultrices ipsum. Praesent id consectetur diam. Maecenas porttitor mi scelerisque neque mollis, nec vehicula sem pharetra. Ut quis varius mi, eget vestibulum turpis. Proin aliquam efficitur lorem, ut blandit purus tristique sed. Nam maximus ex eget commodo consequat. Pellentesque posuere dui et facilisis egestas. Phasellus sapien mi, vehicula maximus fringilla eget, sodales vitae mauris. Donec pulvinar molestie massa quis tristique.