extends ../layout

block content
  h1= title
  p Bienvenidos a la página de inicio de esta aplicación
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse libero libero, maximus sit amet faucibus ac, rhoncus eget elit. Nulla maximus felis non condimentum eleifend. Nullam tristique massa vel tempus ullamcorper. Curabitur pellentesque maximus libero vel viverra. Aenean condimentum est in dolor euismod rutrum. Duis tristique, felis quis placerat dignissim, ligula enim tincidunt nibh, et finibus dui ante ut mauris. Mauris finibus nisl at velit finibus, id tempus dui facilisis.
