nav
    ul.nav.justify-content-center.bg-info.pt-3.pb-3 
        li.nav-item 
            a(href="http://localhost:3000/main/index").nav-link.text-light Inicio
        li.nav-item 
            a(href="http://localhost:3000/main/about").nav-link.text-light Sobre nosotros
        li.nav-item 
            a(href="http://localhost:3000/client/index").nav-link.text-light Clientes
        li.nav-item 
            a(href="http://localhost:3000/client/new").nav-link.text-light Añadir cliente